@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
body{
    background: black;
}
.display-flex{
    display: flex;
}
.fitness{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.headline{
    width: 590px;
    margin: 0 auto;
}
.title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 14px;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem ;
    font-weight: 400;
    line-height: 24px;
}
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    margin-top: 30px;
    
}
.btn-secondary{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px ;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    margin-top: 30px;
}
/* navbar related styles */

.header{
    background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
}

.btn-first{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
}
a{  
    color: white;
    text-decoration: none;
    padding: 12px  20px;
}
 
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1060px ;
    margin: 0 auto;
}
.icon{
    display: none;
}
.nav-item{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
    margin: 0 ;
}

/* banner related styles */
.banner{
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1060px;
    margin: 0 auto;
}
.ball{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin: 8px;
   
}

.ball i{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 17px;
    top: 13px;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem ;
    font-weight: 900;
    line-height: 120%;
}
/* .banner-1{
    width: 600px;
} */
.banner-2 img{
    width: 350px;
    height: 580px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 4.875rem;
    
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
}
.btn-blur1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px 20px;
    width: 193px;
}
.btn-blur2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 24px 20px;
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
}
#btn-1{
    margin-top:  -500px;
    margin-left: 210px;
    flex-direction: column;
    text-align: left;
}
#btn-2{
    margin-top: 200px;
    margin-left: -115px;
    text-align: left;
}
#five{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

#three{
    font-size: 1.5rem;
    color: rgb(250, 250, 249);
    font-weight: 900;

}
#free{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
}
#video{
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    font-size: 1rem ;
}

/* habit section related styles */

.habits{
    align-items: center;
    text-align: center;
    max-width: 1044px;
    margin: 100px auto;
}
.habit-cards{
    margin: 58px auto;
}
.habit-card{
    margin: 0 40px;
}
.habit-cards img{
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.card-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.125rem ;
    
}

/* run section related styles */

.run{
    justify-content: space-between;
    border-radius: 18px;
    background:  rgb(34, 34, 34);
    max-width: 1060px;
    margin: 100px auto;
}
.run-div{
    padding: 40px 50px;
    width: 445px;
    height: 290px;
}

.run-img  img{
    border-radius: 18px;
    margin: 30px;
    width: 336px;
    height: 312px;
}

#run{
    width: 366px;
    height: 312px;
    object-fit:none;
    object-position: 67% 30%;
}

/* calculator section related styles */
.calc{
    text-align: center;
    max-width: 1060px;
    margin: 100px auto;
}
.calculator{
    background: rgb(34, 34, 34);
}

.bmi{
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}

.title2{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}

table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    padding: 14px 20px;
    text-align: left;
}

th{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem ;
}
.form{
    margin-bottom:50px ;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 12px;
}
#box5{
    grid-column: span 2;
}


.grid1 input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 15px 12px 15px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}
.grid1 #fa1{
    position: absolute;
    left: 620px;
    top: 67px;
}
.grid1 #fa2{
    position: absolute;
    left: 620px;
    top: 123px;
}
.grid1 i{
    color: rgb(255, 255, 255, 0.6);
}

/* exercise section related styles */

/* .img-1{
    background-color: rgba(6, 255, 210, 0.5);
    
}
#ing{
        width: 323px;
        background-color: rgba(6, 255, 210, 0.5);
    height: 218px;
}
.overlay{
    background-color: rgba(6, 255, 210, 0.5);
} */


/* team section related styles */

.team{
    text-align: center;
    max-width: 1060px;
    margin: 100px auto;
}

.grid2{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1025px;
    margin: 58px auto 88px auto;
    gap: 20px;
    padding: 20px;
}
.grid2 img{
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    width: 326px;
    height: 272px;
    object-fit: cover;
}


.container{
    position: relative;
}
.grid2 .bottom-left{
    position: absolute;
    text-align: left;
    bottom: 15px;
    left: 19px;
}
.name{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.25rem;
    margin: 0;
}

.position{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem ;
    margin: 0 ;
}

/* unique section related styles */

.unique{
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
}
.unique-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
}
.cards{
    justify-content: space-evenly;
}
.card{
    width: 300px;
    height: 420px;
    border-radius: 18px;
    border: 2px solid rgb(230, 83, 60);
}

.img-box img{
    border-radius: 18px ;
    width: 280px;
    height: 200px;
    margin: 10px;
}

/* footer section related styles */

footer{
    background: rgb(34, 34, 34);
}
.footer1{
    justify-content: space-between;
    max-width: 1060px;
    margin: 80px auto;
}
.footer2{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    padding: 5px;
}
.foot{
    margin: 0 100px 0 0;
}
.fitness2{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 4.3rem;
    margin: 40px 0;
}

.footerno1{
    width: 443px;
}

.title3{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2rem;
}
.title4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.4rem;
}

@media screen and (max-width:576px) {
    .banner,
    .habits,
    .habit-cards,
    .run,
    .bmi,
    .cards,
    .footer1,
    .footerno2 {
        flex-direction: column;
    }
    .title{
        font-size: 2rem;
    }
    .headline{
        width: 318px;
    }
    .nav-item{
        display: none;
    }
    .icon{
        display: block;
    }
    .run-div{
        width: auto;
    }
    .run-img img{
        width: calc(100% - 60px);
    }
    .habits{
        margin: 220px auto 100px auto;
    }
    .banner-title, #shape{
        font-size: 2.25rem;
    }
    .banner-description{
        width: 274px;
    }
    #btn-1{
    margin-top:  -550px;
    margin-left: 230px;
    }
    #btn-2{
    margin-top: 100px;
    margin-left: 10px;
    }
    
    #run{
        width:287px ;
        height: 170px;
        object-fit: cover;
        margin: 20px auto;
        display: block;
    }
    .grid1 input{
        width: calc(100% - 30px);
    }
    .grid2{
        grid-template-columns: repeat(1 ,1fr);
        width: 353px;
    }

    .grid1 #fa1{
    position: absolute;
    left: 380px;
    top: 67px;
    }
    .grid1 #fa2{
    position: absolute;
    left: 380px;
    top: 123px;
    }
    .cards{
        align-items: center;
    }
    .card{
        margin: 20px;
    }
    .calc,
    .footer1,
    .footer2{
        max-width: 353px;
    }
    .footerno1{
        width: 317px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner,
    .bmi,
    .footer1 
     {
        flex-direction: column;
    }
    .banner-1{
        margin: 0 72px 75px 72px;
    }
    .bmi{
        margin: 30px;
    }

    .banner-2 img{
        align-items: center;
        justify-content: center;
        display: block;
        margin: 0 auto;
    }
    #btn-1{
    margin-top:  -540px;
    margin-left: 400px;
    }
    #btn-2{
    margin-top: 200px;
    margin-left: 140px;
    }
    .grid0{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    .run-title{
        font-size: 2.25rem;
    }
    #run{
        width: 256px;
        height: 319px;
    }
    .grid2{
        width: 677px;
    }
    .grid2 img{
        width: 200px;
    }
    .grid1 #fa1{
    left: 655px;
    }
    .grid1 #fa2{
    left: 655px;
    }
    .cards img{
        width: 210px;
    }
    .card{
        width: 230px;
    }
    .footer1{
        margin: 66px 30px;
    }
}