@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
body{
    background: black;
}
.display-flex{
    display: flex;
}
.fitness{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.headline{
    width: 590px;
    margin: 0 auto;
}
.title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem ;
    font-weight: 400;
    line-height: 24px;
}
.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    margin-top: 30px;
    
}
.btn-secondary{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px ;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    margin-top: 30px;
}
/* navbar related styles */

.header{
    background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
}

.btn-first{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
}
a{  
    color: white;
    text-decoration: none;
    padding: 12px  47px;
}
 
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1060px ;
    margin: 0 auto;
}
.nav-item{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    align-items: center;
    margin: 0 ;
}

/* banner related styles */
.banner{
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1060px;
    margin: 0 auto;
}
.ball{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
   
}

#shape{
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem ;
    font-weight: 900;
    line-height: 120%;
}
/* .banner-1{
    width: 600px;
} */
.banner-2 img{
    width: 350px;
    height: 580px;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 4.875rem;
    
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
}
.btn-blur{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px 20px;

    
}
#btn-1{
    margin-top:  -500px;
    margin-left: 230px;
    flex-direction: column;
    text-align: left;
}
#btn-2{
    margin-top: 200px;
    margin-left: -70px;
    text-align: left;
}
#five{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
#three{
    font-size: 1.5rem;
    color: rgb(250, 250, 249);
    font-weight: 900;
}
#free{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
}
#video{
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    font-size: 1rem ;
}

/* habit section related styles */

.habits{
    align-items: center;
    text-align: center;
    max-width: 1044px;
    margin: 100px auto;
}
.habit-cards{
    margin: 58px auto;
}
.habit-card{
    margin: 0 40px;
}
.habit-cards img{
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.card-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.125rem ;
    
}

/* run section related styles */

.run{
    justify-content: space-between;
    border-radius: 18px;
    background:  rgb(34, 34, 34);
    max-width: 1060px;
    margin: 100px auto;
}
.run-div{
    padding: 40px 50px;
    width: 445px;
}

.run-img  img{
    border-radius: 18px;
    margin: 30px;
    /* width:calc(100% - 60px); */
    width: 336px;
    height: 312px;
    object-fit: cover;
    /* object-position: 10% 100%; */
}

/* #run{
    width: 366px;
    height: 312px;
    object-fit: cover;
    object-position: 100% 100%;
} */

/* calculator section related styles */
.calc{
    text-align: center;
    max-width: 1060px;
    margin: 100px auto;
}
.calculator{
    background: rgb(34, 34, 34);
}

.bmi{
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
}

.title2{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}

table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    padding: 14px 20px;
    text-align: left;
}

th{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem ;
}
.form{
    margin-bottom:50px ;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 12px;
}
#box5{
    grid-column: span 2;
}


.grid1 input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

/* team section related styles */

.team{
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
}

.grid2{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1025px;
    margin: 58px auto 88px auto;
    gap: 20px;
    padding: 20px;
}
.grid2 img{
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    width: 326px;
    height: 272px;
    object-fit: cover;
}


.container{
    position: relative;
}
.grid2 .bottom-left{
    position: absolute;
    text-align: left;
    bottom: 15px;
    left: 19px;
}
.name{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.25rem;
    margin: 0;
}

.position{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.8rem ;
    margin: 0 ;
}

/* unique section related styles */

.unique{
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
}
.unique-title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}
.cards{
    justify-content: space-evenly;
}
.card{
    width: 300px;
    height: 420px;
}
.card1{
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(153, 255, 153);
    border: 1px solid rgb(153, 255, 153);
}
.card2{
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(230, 83, 60) ;
    border: 1px solid rgb(230, 83, 60);
}
.card3{
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(51, 102, 255) ;
    border: 1px solid rgb(51, 102, 255);
}
.img-box img{
    border-radius: 20px ;
    width: 280px;
    height: 200px;
    margin: 10px;
}

/* footer section related styles */

footer{
    background: rgb(34, 34, 34);
}
.footer1{
    justify-content: space-between;
    max-width: 1060px;
    margin: 80px auto;
}
.footer2{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255, 0.5);
    padding: 5px;
}

.fitness2{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 4.3rem;
    margin: 40px 0;
}

.footerno1{
    width: 443px;
}

.title3{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2rem;
}
.title4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1.4rem;
}

@media screen and (max-width:576px) {
    .banner,
    .habits,
    .habit-cards,
    .run,
    .bmi {
        flex-direction: column;
    }
    .nav-item{
        display: none;
    }
    .run-div{
        width: auto;
    }
    .run-img img{
        width: calc(100% - 60px);
    }
    .habits{
        margin: 160px auto;
    }
    .banner-title, #shape{
        font-size: 2.25rem;
    }
    .banner-description{
        width: 274px;
    }
    #btn-1{
    margin-top:  -500px;
    margin-left: 230px;
    }
    #btn-2{
    margin-top: 100px;
    margin-left: 10px;
    }
    /* .banner-1{
        width: 352px;
    } */

    .grid1 input{
        width: calc(100% - 30px);
    }
}